body{
    
    text-align: center;
}
#banner{
    font-size: 70px;
    text-transform: uppercase;
    background-color: rgb(122, 119, 113);
    color: white;
    height: 150px;
    width: 60%;
    margin:0 auto;
}
#clock{
    background-color: black;
    font-size: 140px;
    color: white;
    height: 150px;
    width: 60%;
    margin-top:0 auto;
    text-align: center;
    margin-left: 270px;

}